<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>修改密码</h2>
            <hr/>

            <div class="alert alert-success" ng-show="success">
                <strong>修改密码成功！</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" >
                <strong>出错了！</strong>
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                两次输入密码不一致。
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label for="password">新密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="新密码"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            不能为空
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            长度必须大于等于5
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            太长了。
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">确认密码</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="再次输入密码"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            不能为空
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            长度必须大于等于5
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            太长了
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">保存</button>
            </form>
        </div>
    </div>
</div>
