<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Reset password</h1>

            <div class="alert alert-danger" ng-show="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" ng-hide="success || keyMissing">
                <p>Choose a new password</p>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <div class="alert alert-success" ng-show="success">
                <p><strong>Your password has been reset.</strong> Please <a class="alert-link" href="#/login">sign in</a>.</p>
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <div ng-hide="keyMissing">
                <form ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()" show-validation>
                    <div class="form-group">
                        <label for="password">New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                               ng-model="resetAccount.password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength">
                                Your password is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                                Your password confirmation is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                                Your password confirmation is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                                Your password confirmation cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
