<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <title th:inline="text">最新文章 - Expper</title>
</head>
<body>
<div layout:fragment="content">
    <div class="block posts-list-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="fright orders">
                    <a href="/posts">热门</a>
                    <span class="slash">•</span>
                    <a href="/posts/new" class="active">最新</a>
                </div>
                <ul class="topics-list">
                    <li><a class="btn btn-default btn-sm" href="/topics/开发语言">开发语言</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/探索发现">发现</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/apple">Apple</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/云计算">云计算</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/java">Java</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/javascript">JavaScript</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/python">Python</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/ruby">Ruby</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/php">PHP</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/前端开发">前端</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/服务器">服务器</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/数据库">数据库</a></li>
                    <li><a class="btn btn-default btn-sm" href="/topics/算法-编程">算法/编程/面试</a></li>
                </ul>
            </div>
            <div class="panel-body" layout:include="posts/_posts :: posts"></div>
            <div class="pagination">
                <a class="btn btn-default btn-sm prev" th:if="${page>1}" th:href="'?page=' + ${page-1}"><i class="fa fa-long-arrow-left"></i> 上一页</a>
                <span class="pages-info" th:if="${totalPages>1}">第<span th:text="${page} + '/' + ${totalPages}"></span>页</span>
                <a class="btn btn-default btn-sm next" th:if="${totalPages>page}" th:href="'?page=' + ${page+1}">下一页 <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
