<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <title th:inline="text">搜索文章 - Expper</title>
</head>
<body>
<div layout:fragment="content">
    <div class="block posts-list-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="title"><i class="fa fa-heart-o"></i>搜索</h1>
            </div>
            <div class="panel-body" layout:include="posts/_posts :: posts"></div>
            <div class="pagination">
                <a class="btn btn-default btn-sm prev" th:if="${page>1}" th:href="'?page=' + ${page-1}"><i class="fa fa-long-arrow-left"></i> 上一页</a>
                <span class="pages-info" th:if="${totalPages>1}">第<span th:text="${page} + '/' + ${totalPages}"></span>页</span>
                <a class="btn btn-default btn-sm next" th:if="${totalPages>page}" th:href="'?page=' + ${page+1}">下一页 <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
