<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="index">
<head>
    <title th:inline="text">关于 - Expper</title>
</head>
<body>
<div layout:fragment="content">
    <div class="block post-block post post-page  page">
        <div class="panel panel-default post">
            <div class="panel-heading">
                <h1 class="title"><i class="fa fa-heart-o"></i> 关于Expper</h1>
            </div>
            <div class="panel-body">
                <div class="post-body">
                    <blockquote>
                        <p>
                            <strong>Expper - </strong> Explore the Internet and Share Something Useful.<br/>

                        </p>
                    </blockquote>
                    <p>
                        <h2>这个社区的理念很简单：</h2>
                        <ul>
                            <li>发掘和分享互联网上的有用的技术文章！</li>
                            <li>会员可以收藏喜欢的文章，打造统一的，简洁的，优雅的阅读体验！</li>
                        </ul>
                    </p>

                    <p>我是一个收藏，整理和阅读在线文章的重度用户。建立这个社区就是希望能够高效收藏和整理在线文章；希望大家，特别是程序员，能够发掘和分享各个领域有价值的文章，同时可以相互交流和认识。</p>

                    <p>
                        <h2>Expper的社区规则</h2>
                        <ul>
                            <li>这里不允许公开分享和讨论和盗版软件，音乐，电影等相关的内容；</li>
                            <li>这里的会员能够收藏在线文章全文，并享受统一和简洁的阅读方式。但是这里绝不会公开分享任何文章全文，所有文章均保留原文链接，这里只会展示部分摘要；</li>
                            <li>这里尊重和崇尚有价值的技术文章，同时鼓励大家分享和讨论；</li>
                            <li>这里尊重作者知识产权，尊重原创优质文章；</li>
                            <li>这里不允许分享和讨论任何违反中国法律的内容。</li>
                        </ul>
                    </p>
                    <p>
                        <h2>截图</h2>
                        <img src="http://7b1fa0.com1.z0.glb.clouddn.com/0002.png"/>
                        <br/>
                        配合Expper的<a href="https://chrome.google.com/webstore/detail/expper/lemehlnkknfbalogdboldphkjibjkhpp?utm_source=chrome-ntp-icon">Chrome插件</a>，一键保存网络文章。
                        <br/>
                        截图想告诉大家，Expper不仅仅是技术分享社区，你也完全可以当做一个文章笔记整理工具来用，十分方便。
                    </p>
                    <hr/>
                    <p>联系：raysmond@expper.com</p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
