<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar navbar-default" role="navigation" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/leading"><span>Expper</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/posts">
                        <i class="fa fa-home"></i>
                        <span class="hidden-sm">社区</span>
                    </a>
                </li>
                <li>
                    <a href="/topics">
                        <span class="hidden-sm">标签</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <span class="hidden-sm">关于</span>
                    </a>
                </li>
                <li>
                    <a href="/p/links">
                        <span class="hidden-sm">友情链接</span>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left query-posts-form" role="search"  th:action="@{/posts/search}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" th:value="${query}" placeholder="搜索文章" />
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
                <li><a href="/me/#login"><span>登录</span></a></li>
                <li><a href="/me/#register"><span>注册</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li><a href="/me/messages">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge badge-danger"
                          th:if="${@viewUtils.getCurrentUserUnreadMessagesCount() > 0}"
                          th:text="${@viewUtils.getCurrentUserUnreadMessagesCount()}"></span>
                </a></li>
                <li><a href="/me/#/posts">
                    <i class="fa fa-user"></i>
                    &#xA0;<span>我</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
